*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
    font-size: .18rem;
}

.wrap{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .header{
        width: 100%;
        height: .45rem;
        display: flex;
        justify-content: space-around;
        text-align: center;
        line-height: .45rem;

        .icon{
            width: 30%;
        }

        .inp{
            width: 100%;
            font-size: .14rem;
            border: 1px solid #ccc;
        }
    }

    .main{
        width: 100%;
        flex: 1;
        overflow: auto;

        .container{
            width: 100%;

            .nav{
                width: auto;
                overflow-x: auto;
                height: .45rem;
                line-height: .45rem;
                white-space: nowrap;
                text-align: center;

                span{
                    width: 100%;
                    padding: 0 3%;
                }
            }

            .img{
                width: auto;
                overflow-x: auto;
                white-space: nowrap;
                text-align: center;

                dl{
                    width: 30%;
                    padding: 3%;
                    display: inline-block;
                }
            }
        }
    }

    .footer{
        width: 100%;
        height: .45rem;
        display: flex;
        justify-content: space-around;
        line-height: .45rem;
        text-align: center;
        
        span{
            width: 100%;
        }

        .orange{
            color: orange;
        }
    }
}

img{
   width: 100%; 
}